Host srv
HostName srv.s.tremoureux.fr
User root
Port 2212

Host s1
HostName s1.mkfs.fr
User root
Port 2212

Host s2
HostName s2.mkfs.fr
User root
Port 2212

Host tobak
HostName bak.local
User bak
Port 22
IdentityFile ~/.ssh/bak
StrictHostKeyChecking no