[Unit]
Description=The Salt Master Server
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 3
ExecStart=/usr/bin/salt-master

[Install]
WantedBy=multi-user.target
